/* HEADER START */
body {
  font-family: "Segoe UI" !important;
    color: #2b2d2b;
    position: relative;
    overflow-x: hidden;
    width: 100%;
  
}

h2 {
  color: #000 ;
  font-size: 28px !important;
  text-align: center;
  font-weight: 400 !important;;
}
hr.vr
{
   width: 0px;
   height: 525px; /* or height in % */
  border-left: 1px solid #ff0000;
  margin-left: auto;
  margin-right: auto;
} 
/* Header links */
.nav-list {
    float: right;
    cursor: pointer;
}

.nav-list a {
    display: block;
    color: #fff !important;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    font-family: "Segoe UI" !important;
    font-weight: 600;
    font-size:16px;
}

.nav-list a:hover:not(.active) {
    background-color: red;
    text-decoration: none;
    color: white;
}
    .navbar-right a:hover{
      text-decoration:underline;
    }
    .navbar-logo{
      padding-left:10%;
      font-family: 'Roboto Slab', serif !important;
      font-size:30px;
      font-weight:bold;
      text-decoration:none;
      color:#fff; 
    }
    
   
    .tittle-lines {
        background-color: red;
        display: block;
        height: 3px;
        
    }
    /* HEADER END */


   .enable h2 {
    font-family: "Segoe UI" !important;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 30px;
    color: #000;
}
   img{
    width: 100%;
  }
  .no-pad{
    padding:0;
    margin:0;
  }
  .hover-card .top {
    transition: 1s;
    bottom: 0;
    background: rgba(66, 66, 66, 0.56);
    padding: 0.5em;
    position: absolute;
    left: 0;
    text-align: left;
    color: white;
    width: 100%;
    max-height: 100%;
  }
  .hover-card .img-responsive {
      opacity: 0.75;
  }
  .card:hover .top{
    opacity: 0.75;
    background: #ffb963;
    
  }
  .card:hover .read-more .fa{
    color:white;
  }
  .hover-card h2,.hover-card,.hover-card h4 {
    margin: 0;
  }
  .smallbanner .imgbanner {
    opacity: 0.75;
  }
.clients {
    /* margin-bottom: 50px; */
    /* background: #f9f9f9; */
}
.allinone .facility p{
  margin-bottom: 0rem;
}
.onebyone {
    border: 5px solid #f2f1f1;
    /* outline: 1px solid red; */
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}
.collapse.navbar-collapse .nav-list a {
  display: block;
  color: white !important;
  background-color: #404040;
}
.onebyone .img-fluid {
    width: 160px;
    height: 90px;
}

.whitebox .wbt {
    width: 400px;
    height: 400px;
}
.palcnews {
    /* background-color: #F7F7F7; */
    /* height: 500px; */
}

.palcnews h5 {
  font-size: 18px !important;
  font-weight: 400;
}
.palcnews p{
  color: #777777;
}
.palcnews .newsimages {
    width: 100%;
}
.whiteboximg {
    width: auto;
    height: auto;
    opacity: 0.75;
}

.card-img-overlay .cardtitle {
    font-size: 48px;
    color: #fff;
}
.card-img-overlay .cardtitles {
    font-size: 26px;
    color: #000;
}
.card-img-overlay .card-text {
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.opensourceecosystem .onebyone .img-fluid {
  width: 160px;
  height: 70px;
}
.opensourceecosystem h5 {
  font-size: 18px;
  font-weight: 400;
}
.letusknow{
    background-image: url('../http://35.154.190.175/palcwebsiteimages/assets/images/banner/stage4.png');
    background-position: center;
    display: flex;
    opacity: 0.75;
    }
  
  .letusknow .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .letusknow p{
      color: white;
      line-height: 1;
      font-size: 16px;
  }
.sectionClass {
    padding: 20px 0px 5
    0px 0px;
    position: relative;
    display: block;
  }
  
  .fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
  }
  
  .sectiontitle {
    background-position: center;
    margin: 30px 0 0px;
    text-align: center;
    min-height: 20px;
  }
  
  .headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
  }
  
  .projectFactsWrap{
      display: flex;
    /* margin-top: 30px; */
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #projectFacts .fullWidth{
    padding: 0;
  }
  
  .projectFactsWrap .item{
    width: 25%;
    height: 100%;
    padding: 50px 0px;
    text-align: center;
  }
  
  .projectFactsWrap .item:nth-child(1){
    background: rgb(16, 31, 46);
  }
  
  .projectFactsWrap .item:nth-child(2){
    background: rgb(18, 34, 51);
  }
  
  .projectFactsWrap .item:nth-child(3){
    background: rgb(21, 38, 56);
  }
  
  .projectFactsWrap .item:nth-child(4){
    background: rgb(23, 44, 66);
  }
  
  .projectFactsWrap .item p.number{
    font-size: 40px;
    padding: 0;
    font-weight: bold;
    text-align: center;
  }
  
  .projectFactsWrap .item p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 0;
    padding: 10px;
    font-family: "Segoe UI" !important;
  }
  
  .projectFactsWrap .item span{
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 2px;
    display: block;
    margin: 0 auto;
  }
  
  .projectFactsWrap .item i{
    vertical-align: middle;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
    color: white;
  }
  
  .projectFactsWrap .item:hover span{
    background: white;
  }
  
  @media (max-width: 786px){
    .projectFactsWrap .item {
       flex: 0 0 50%;
    }
  }
  .about-me-img {
    width: 120px;
    height: 120px;
    left: 10px;
    /* bottom: 30px; */
    position: relative;
    border-radius: 100px;
  }
  .about-me-img img {
  }
  .authorWindow{
    width: 600px;
    background: #75439a;
    padding: 22px 20px 22px 20px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .authorWindowWrapper{
    display: none;
    left: 110px;
    top: 0;
    padding-left: 25px;
    position: absolute;
  }
  .trans{
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  @media screen and (max-width: 768px) {
      .authorWindow{
           width: 210px;
      }
      .authorWindowWrapper{
        bottom: -170px;
        margin-bottom: 20px;
      } 
      .networkofferingMargin{
        /* border-bottom: 2px solid #e3e3e3; */
       margin-bottom: 20px;
      }
  }
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.footer .nav-lists li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer h5 {
  font-weight: 600;
    color: #ffffff;
}
.footer p {
    color:#ffffff;
}
.footer address {
    color: #ffffff;
}
.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col-3 {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-lists li a:before {
    font: 400 18px/1 "Material Design Icons";
    color: red;
    display: inline-block;
    vertical-align: baseline;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
.copyrights p {
    text-align: center;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
  .team-img img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    overflow: hidden;
    width: 100%;
  }
  .team-member,
  .team-img {
    position: relative;
    overflow: hidden;
  }
  .text {
      text-align: center;
  }
  .team-title {
    margin: 15px 0 0px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .overlay {
    background-color: rgba(238, 77, 77, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .team-details {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .team-details p {
    color: #fff;
  }
  
  .team-img:hover .team-details {
    opacity: 1;
    margin-top: -80px;
  }
  
  .team-img:hover .overlay {
    opacity: 1;
  }
  
  .socials a {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: transparent;
  }
  
  .socials i {
    line-height: 37px;
    color: #616161;
    font-size: 14px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .team-details .socials i {
      color: #fff;
  }
  
  .socials a:hover i {
    color: #fff;
    background-color: #355c7d;
  }
.palcnew {
    background-color: #F7F7F7;
    height: 70px;
}

.palcnew h2 { 
    padding-top: 0px;
    color: #000;
}

.outcomes {
    background-color: #F7F7F7;
    width: 100%;
}
.outcomes {
    background-color: #f7f7f7;
    text-align: center;
  
}

.outcomes h2 {
  color: #000;
    font-weight: 300;
}

.facility {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    /* border: 1px solid #707070;
    border-radius: 25px; */
}

.facility .img-fluid {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
    display: block;
}

.facility h3 {
    padding-top:15px;
    font-size: 22px;
    font-weight: 600;
    color: #333333;
}

.facility p {
  text-align: left;
}
.facility .text-red {
  color: #ff0000;
}
.fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.facility .lh-14 {
  line-height: 1.4em;
}

.wrapper {
    text-align: center;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }
  
  .container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
  }
  .fostrap-logo {
    width: 100px;
    margin-bottom:15px
  }
  h2.heading {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 0.5em;
    color: #000;
  }
  @media (min-width: 450px) {
    h1.heading {
      font-size: 3.55em;
    }
  }
  @media (min-width: 760px) {
    h1.heading {
      font-size: 3.05em;
    }
  }
  @media (min-width: 900px) {
    h1.heading {
      font-size: 3.25em;
      margin: 0 0 0.3em;
    }
  } 
  .card {
    display: block; 
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
      transition: box-shadow .25s; 
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
      overflow: hidden;
  }
  .img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover; 
    transition: all .25s ease;
  } 
  .card-content {
    padding:15px;
    text-align:left;
  }
  .card-title {
    margin-top:0px;
    text-align: center;
    font-size: 1.65em;
    color: #ff0000;
  }
  .card-title a {
      font-size: 20px;
      font-weight: 400;
      color: #ff0000 !important;
    text-decoration: none !important;
  }
  .card-read-more {
    border-top: 1px solid #D4D4D4;
  }
  .card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
  }

.servicesmallbanner{
    background-position: center;
    display: flex;
    opacity: 0.75;
    padding-top: 45px;
    padding-bottom: 45px;
    }
  
  .servicesmallbanner h5{
      color: #000;
      text-align: center;
      line-height: 1;
      font-size: 22px;
  }
.groups {
    background-image: url('../http://35.154.190.175/palcwebsiteimages/assets/images/news/careerbanner.png');
    background-position: center;
    display: flex;
    opacity: 0.75;
    }

.aboutus h5 {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
  .groups h2{
      color: white !important;
      text-align: center;
      line-height: 1;
      font-size: 24px;
      padding-top: 0px;
  }
  .team-member {
    margin: 15px 0;
    padding: 0;
  }
  
  .team-member figure {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  
  .team-member figure img {
    min-width: 100%;
  }
  
  .team-member figcaption p {
    font-size: 16px;
  }
  
  .team-member figcaption ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .team-member figcaption ul {
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .team-member figcaption ul li {
    display: inline-block;
    padding: 10px;
  }
  
  .team-member h4 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
  }
  
  .team-member p {
      text-align: center;
      color: #fff;
  }

  .team-member figcaption {
    padding: 30px;
    color: transparent;
    background-color: transparent;
    position: absolute;
    z-index: 996;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .team-member figure:hover figcaption {
    visibility: visible;
    color: #fff;
    background: rgba(230, 78, 62, 0.9);
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .team-member figure:hover figcaption ul li a:hover {
    color: rgba(49, 49, 49, .97);
  }
  
  .team-member figure img {
    -webkit-transform: scale(1) rotate(0) translateY(0);
    -moz-transform: scale(1) rotate(0) translateY(0);
    -o-transform: scale(1) rotate(0) translateY(0);
    -ms-transform: scale(1) rotate(0) translateY(0);
    transform: scale(1) rotate(0) translateY(0);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .team-member figure:hover img {
    -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
    -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
    -o-transform: scale(1.1) rotate(1deg) translateY(12px);
    -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
    transform: scale(1.1) rotate(1deg) translateY(12px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .team-member a:link,
  .team-member a:active,
  .team-member a:visited{
  color:rgba(255,255,255,1);
}

.team-member a:hover{
  color:rgba(255,255,255,0.6);
}

.team-member .gray {
  color: #a5a5a5;
}
.openings {
    background-color: #F7F7F7;
}
.openings h2 {
   font-size: 24px;
   font-family: "Segoe UI" !important;
   font-weight: 400;
   text-align: center;
   padding-top: 30px;
   color: #000;
}
.openings .newsimages {
    width: 100%;
}
.openings .jobdescription {
    border: 1px solid black; 
    background-color: #fff;
}
.jobdescription h5 {
    text-align: center;
    padding-top: 20px;
}

.case { 
    background-color: #f7f7f7;
}
.case h2 {
    color: red;
}

/* .casestudies p {
    padding:15px;
} */

.map {
    padding-top: 30px;
}

* {
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .brand {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .brand span {
    color: #ffffff;
  }
  
  .wrapper > * {
    padding: 1em;
  }
  .tab-content h4 {
      color: #ff0000;
      font-size: 20px;
      font-weight: 300;
  }
  
  @media only screen and (min-width: 700px) {
    .wrappers {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding:15px;
    } 
    .company-info {
        padding: 15px;
      border-radius: 4px 0 0 4px;
    }
    .contact {
        padding: 15px;
      border-radius: 0 4px 4px 0;
    }
    .company-info h3,
    .company-info ul,
    .brand {
      text-align: left;
    }
  }

.l2l3net h2 {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #000;
}

p {
    margin-bottom:20px;
    color: #000;
    }
    
    .clearout {
    height:20px;
    clear:both;
    }

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(255, 0, 0);
    background: rgb(255, 0, 0);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgb(255, 0, 0);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
#button-green {
    color: #FFFFFF;
    background-color: #ff0000;
    font-size: 16px;
    height: 40px;
    font-family: "Segoe UI" !important;
    font-weight: 400;
    border-radius: 50px;
}
#disablebutton-green {
  color: #FFFFFF;
  background-color: #ccc;
  font-size: 16px;
  height: 40px;
  font-family: "Segoe UI" !important;
  font-weight: 400;
  border-radius: 50px;
}
.desservice {
    background-color: #F7F7F7;
}
.desservice .newsimages {
    width: 100%;
}

.desservice h4 {
    padding-top: 20px;
 }
  .desservice
   h4 {
      text-align: center;
  }

  .heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    z-index: 0;
}
.white-heading{
    color: #ffffff;
}
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading span {
    color: #ffffff;
}


.careers {
    margin-bottom: 20px;
}


.careers .tittle-line {
    background-color: red;
    float: left;
    width:200px;
}

.careers p {
  font-family: "Segoe UI" !important;
    font-weight: 400;
    padding-left: 15px;
    padding-right:15px;
}
   .clickable {
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            position: absolute;
            z-index: 1;
        }
.job {
    margin-top: 40px;
    border: 1px solid #ADABAB;
    border-radius: 25px;
}

.job a {
    color: red;
    font-size: 20px;
  }

.job .img-fluid {
    width: 60px;
    height:60px;
    margin-left: 23px;
    margin-top: 30px;
}
.job .jobhead {
    font-size: 16px;
    padding-left:20px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 10px;
}
.job .jobsubhead {
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    padding-left:20px;
    margin-top: 10px;
}
.my-class {
    padding-left:20px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 25px;
}

.job .openingcount{
    font-size: 85px;
    padding-left:15px;
}

.job .role {
    font-size: 16px;
    padding-left:15px;
    font-weight: 600;
    margin-bottom: 0px;
}
.job .jobskills{
    font-size: 16px;
    font-weight: 400;
    padding-left:15px;
    margin-bottom: 30px;
}
.jobcareers h2 {
    font-size: 16px;
    color: #000;
    text-align: left;
    margin-top:15px;
    font-weight: 400;
}
.jobdescription {   
    padding-bottom: 15px;   
}
.jobdescription h6 {
  color: #000;
    font-size: 18px;
    font-weight: 600;
    padding-top: 17px;
}
.jobdescription h4 {
  color: #000;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}   
.jobdescription li {   
    font-size: 14px;
    padding-top: 12px;
    /* text-align: justify;   */
    color: #000; 
    text-indent: -1.5em;
}
.list-ic a {
    color: #788288;
    text-decoration: none;
  }
  .list-ic li {
    position: relative;
    
  }
  .list-ic li span {
    display: inline-block;
    font-weight: 800;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background: red;
    color: white;
    position: relative;
    text-indent: 0em;
  }
  .list-ic li::before {
    content: '';
    position: absolute;
    background: red;
    z-index: -1;
  }
  .list-ic.horizontal li {
    display: inline-block;
  }
  .list-ic.horizontal li span {
    margin: 0 1em;
  }
  .list-ic.horizontal li::before {
    top: 0.9em;
    left: -25px;
    width: 4em;
    height: 0.2em;
  }
  .list-ic.vertical {
    padding: 0;
    margin: 0;
  }
  .list-ic.vertical li {
    list-style-type: none;
    text-align: left;
  }
  .list-ic.vertical li::before {
    top: -35px;
    left: 13px;
    width: 0.2em;
    height: 4em;
  }
  .list-ic li:first-child::before {
    display: none;
  }
  .list-ic .active {
    background: dodgerblue;
  }
  .list-ic .active ~ li {
    background: lightblue;
  }
  .list-ic .active ~ li::before {
    background: lightblue;
  }
.partnerreview {
    padding-top: 30px;
}
.solutionpartner h2{
  color: #000;
    padding-top: 30px;
}
.ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #2c3e50;
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #2c3e50;
    margin-top: 100px;
    font-size: 0.7em;
    font-weight: 700;
    padding: 0.1em 0.4em;
    text-align: center;
    -webkit-transition: color 0.3s, border-color 0.3s;
    -moz-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
}

.btn:hover {
    border-color: red;
    color: red;
}

.align {
    clear: both;
    width: 100%;
    max-width: 1170px;
    text-align: center;
}

.align>li {
    width: 500px;
    min-height: 300px;
    display: inline-block;
    margin: 30px 20px 30px 30px;
    padding: 0 0 0 60px;
    vertical-align: top;
}



.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid red !important;
    font-size: 24px;
    font-weight: 400;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ff0000 !important;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border: none;
}
.project-tab .nav-link {
     border: 0px solid transparent !important; 
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    /* color: #ff0000; */
    font-size: 24px;
    font-weight: 300;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab a{
    text-decoration: none;
    color: #000;
    font-weight: 300;
}
/* Carousel*/

.carousel,
.carousel-item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.flex-center {
  color: #fff;
}

.carousel-caption {
  height: 100%;
  padding-top: 7rem;
}

a {
  color: #ff0000;
  text-decoration: inherit;
}

article {
  margin: 0 auto 0 auto;
  font-family: "Segoe UI" !important;
}

.more-content {
  display: none;
}

.cg-visible {
  display: block;
}






ul {
  list-style: none; /* remove the default */
}



li.alternative::before { /* and another color */
  background-color: #66c;
}

.product-img {
  height: 200px !important;
}
.product-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.product-img:hover .overlay {
  opacity: 1;
}

.product-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: 100%;
}
.team-member,
.product-img {
  position: relative;
  overflow: hidden;
}
.product-wrap {
    border-radius: 10px;
}
.product-img h5 {
  padding-top: 20px;
}

.overlays {
  background-color: rgba(238, 77, 77, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

}

.grid {
  /* position: relative; */
  margin: 0 auto;
  padding: 1em 0 0em;
  /* max-width: 1000px; */
  list-style: none;
  text-align: center;
}

.grid figure {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.9) 100%);
  text-align: center;
  cursor: pointer;
}

.grid figure img {  
  display: block;
  min-height: 100%;
  max-width: 100%;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0.8;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 400;
  text-align: left;
}

.grid figure h2 span {
  font-weight: 600;
  color: #fff;

}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}



figure.effect-lily img {
  max-width: none;
  opacity: 0.7;
}

figure.effect-lily figcaption {
  text-align: left;
}

figure.effect-lily figcaption>div {
  position: inherit;
  bottom: 0;
  left: 0;
  padding: 2em;
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  width: 100%;
  height: 75%;
}

figure.effect-lily h2,
figure.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-lily p {
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
  font-size: 17px;
  font-weight: 400;

}

figure.effect-lily:hover img {
  opacity: 0.5;
}



/* figure.effect-lily:hover img, */
figure.effect-lily:hover p {
  opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}



@media screen and (max-width: 50em) {
  .content {
      padding: 0 10px;
      text-align: center;
  }

  .grid figure {
      display: inline-block;
      float: none;
      margin: 10px auto;
      width: 100%;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

a {
  outline: none;
  color: #3498db;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #528cb3;
}

.content {
  margin: 0 auto;
}

.content>h2 {
  clear: both;
  margin: 0;
  padding: 4em 1% 0;
  color: #000;
  font-weight: 800;
  font-size: 1.5em;
}

.content>h2:first-child {
  padding-top: 0em;
}

/* Header */
.codrops-header {
  margin: 0 auto;
  padding: 4em 1em;
  text-align: center;
}

.codrops-header h1 {
  margin: 0;
  font-weight: 800;
  font-size: 4em;
  line-height: 1.3;
}

.codrops-header h1 span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  color: #74777b;
  font-weight: 300;
  font-size: 45%;
}

.codrops-demos {
  clear: both;
  padding: 1em 0 0;
  text-align: center;
}

.content+.codrops-demos {
  padding-top: 5em;
}

.codrops-demos a {
  display: inline-block;
  margin: 0 5px;
  padding: 1em 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.codrops-demos a:hover,
.codrops-demos a:focus,
.codrops-demos a.current-demo {
  background: #3c414a;
  color: #fff;
}

/* To Navigation Style */
.codrops-top {
  width: 100%;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.69em;
  line-height: 2.2;
}

.codrops-top a {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  letter-spacing: 1px;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  display: block;
  float: left;
}

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "Segoe UI" !important;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Related demos */
.related {
  clear: both;
  padding: 6em 1em;
  font-size: 120%;
}

.related>a {
  display: inline-block;
  margin: 20px 10px;
  padding: 25px;
  border: 1px solid #4f7f90;
  text-align: center;
}

.related a:hover {
  border-color: #39545e;
}

.related a img {
  max-width: 100%;
  opacity: 0.8;
}

.related a:hover img,
.related a:active img {
  opacity: 1;
}

.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: left;
}

/* Demo ad design */
body #cdawrap {
  background: none;
  top: 50px;
  border: none;
}

body #cdawrap a {
  color: #fff !important;
}

body #cda-remove {
  color: #fff;
}

@media screen and (max-width: 25em) {
  .codrops-header {
      font-size: 75%;
  }

  .codrops-icon span {
      display: none;
  }
}

figcaption p{
  color: #000;
}


.effect-lily .img-fluid {
  width: 100%;
  height: 300px;
}


.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    /* background: url(img/testimonial.bg-top.png); */
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonial {
    min-height: 375px;
    position: relative;
    /* background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg); */
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #000;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  position: relative;
  text-align: center;
}
.testimonial4_slide .img-responsive {
   
    width: 150px;
    height: 125px;
    margin: auto;    
    color: #f2f2f2;
    text-align: center;
    position: relative;
    /* box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23); */
}
.testimonial4_slide p {
  color: #ffffff;
  /* font-size: 46px; */
  line-height: 1.4;
  /* margin: 40px 0 20px 0; */
  /* font-weight: 500; */
  font-family: "Segoe UI" !important;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

/* .testimonial .carousel {
	padding-bottom:50px;
} */
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}
.carousel .carousel-control-prev-icon {
  background-image: url(../img/svg/arrow_left.svg);
  background-color: red;
}
.carousel .carousel-control-next-icon {
  background-image: url(../img/svg/arrow_right.svg);
  background-color: red;
}
i.fa {
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.animation-element {
    opacity: 0;
    position: relative;
}

.animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-left.testimonial {
    float: left;
    width: 47%;
    margin: 0% 1.5% 3% 1.5%;
    background: #F5F5F5;
    padding: 15px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    border: solid 1px #EAEAEA;
}

.animation-element.slide-left.testimonial:hover,
.animation-element.slide-left.testimonial:active {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.animation-element.slide-left.testimonial:nth-of-type(odd) {
    width: 100%;
    margin: 0% 1.5% 3.0% 0%;
}

.animation-element.slide-left.testimonial:nth-of-type(even) {
    width: 48.5%;
    margin: 0% 0% 3.0% 1.5%;
}

.animation-element.slide-left.testimonial .header {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.animation-element.slide-left.testimonial .left {
    float: left;
    margin-right: 15px;
}

.animation-element.slide-left.testimonial .right {
    float: left;
}

.animation-element.slide-left.testimonial img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
}

.animation-element.slide-left.testimonial h3 {
    margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.testimonial h4 {
    margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.testimonial .content {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.animation-element.slide-left.testimonial .rating {}

.animation-element.slide-left.testimonial i {
    color: #aaa;
    margin-right: 5px;
}

@media screen and (max-width: 678px) {
    .animation-element.slide-left.testimonial,
    .animation-element.slide-left.testimonial:nth-of-type(odd),
    .animation-element.slide-left.testimonial:nth-of-type(even) {
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
    .animation-element.slide-left.testimonial .right,
    .animation-element.slide-left.testimonial .left,
    .animation-element.slide-left.testimonial .content,
    .animation-element.slide-left.testimonial .rating {
        text-align: center;
        float: none;
    }
    .animation-element.slide-left.testimonial img {
        width: 85px;
        height: 85px;
        margin-bottom: 5px;
    }

}

/* Font */
/* @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700'); */

/* Design */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Roboto Slab', serif !important;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
} */

.casestudies{
  /* max-width: 1200px; */
  margin: 0 auto;
}

/* h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
} */

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.news .card {
  background-color: white;
  border-radius: 0.25rem;
  /* border: 1px solid #ff0000; */
  /* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  /* background: linear-gradient(to bottom left, #012b39 40%, #FFC39E 100%); */
  
  height: 100%;
}

.casestudies p {
  margin-top: 15px;
}
.casestudies h5 {
  font-weight: 500;
  text-align: center;
}
.card_title {
  color: #ff0000;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  margin: 0px;
}

.card_title h2 {
  color: #000 !important;
}

.card_text {
  color: #000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}



/* FOUNDER START */
.founders {
  text-align: center;
  /* margin-top: 63px; */
  margin-bottom: 61.41px;
}
.founders h2 {
    font-size: 24px;
    font-weight: 400;
    color:#000; 
    margin-top: 15px;
}
.founders h4 {   
 font-size: 18px;
 font-weight: 600;
 color: #333333;
 float: left;
 margin-bottom: 0px;
 padding-top: 15px;
 text-align: left;
  } 
  .founders h6 {   
      font-size: 16px;
      font-weight: 600;
      color: #333333;
      float: left;
     /* padding-top: 5px; */
       } 
  .founders p {
      float: left;
      /* text-align: justify; */
      font-size: 16px;
  }   
.founders .founderwords {
  font-size: 16px;
  text-align: justify;
  padding-bottom: 15px;
}
 /* FOUNDER END */


h1 { 
  margin:30px auto 30px auto; 
  text-align:center;
}



/* bootstrap-touch-slider.css */
.bs-slider{
    overflow: hidden;
    max-height: 700px;
    position: relative;
    background: #000000;
}
.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}

/********************
*****Slide effect
**********************/

.fade {
    opacity: 1;
}
.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.fade .item:first-child {
    top: auto;
    position: relative;
}
.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}






/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;
}





/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators{
    /* right: 45%; */
    bottom: 3%;
    /* left: auto; */
    /* width: 100%; */
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: center;
    overflow-y: hidden;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    padding-top: 1px;
    white-space: nowrap;
}
.indicators-line > .carousel-indicators li{
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(158, 158, 158);
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: rgb(158, 158, 158);
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor:pointer;
}
.indicators-line > .carousel-indicators li:last-child{
    margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
    margin: 1px 5px 1px 1px;
    box-shadow: 0 0 0 2px #fff;
    background-color: transparent;
    position: relative;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}
.indicators-line > .carousel-indicators .active:before{
    transform: scale(0.5);
    background-color: #fff;
    content:"";
    position: absolute;
    left:-1px;
    top:-1px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}



/*---------- SLIDE CAPTION ----------*/
.slide_style_left {
    text-align: left !important;
}
.slide_style_right {
    text-align: right !important;
}
.slide_style_center {
    text-align: center !important;
    top: 20% !important;
}

.slide-text {
    left: 0;
    top: 25%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
    
}

.slide-text > h1 {
    
    padding: 0;
    color: #ffffff;
    font-size: 70px;
    font-style: normal;
    line-height: 84px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.slide-text > p {
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.slide-text > a.btn-default{
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
.slide-text > a.btn-primary{
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #00bfff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff;
    background: #222222;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}






/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p {

        font-size: 18px;
    }
}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }

}
@media  (max-width: 480px) {
    .slide-text {
        padding: 10px 30px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default, 
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line > .carousel-indicators{
        display: none;
    }

}
.eventsheadlines h6 {
  font-weight: 600;
  font-size: 18px;
}
.snip0016 p {
  color: #fff;
}
figure.snip0016 {
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 220px;
  width: 100%;
  background: #000000;
  text-align: left;
  border-radius: 20px;
}
figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0016 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0016 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}
figure.snip0016 figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016 h2,
figure.snip0016 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0016 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0016 h2 span {
  font-weight: 800;
}
figure.snip0016 p {
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0016 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0016:hover img {
  opacity: 0.3;
}
figure.snip0016:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
figure.snip0016:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* .capabilitiestools {
  background-color: #f5f5f5;
} */

.capabilitiestools .logopadding { 
  margin-bottom: 30px;
  
}
.logopadding {
  width: 50% !important;
}
.serviceimg .img-fluid {
  width: 185px;
  height: 75px;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.contact-parent{
  display:flex;
  margin:80px 0;
}

.contact-child{
  display:flex;
  flex:1;
  box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}

.child1{
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  color:#fff;
  padding:100px 0;
}

.child1 p{
  padding-left:20%;
  font-size:20px;
  text-shadow:0px 0px 2px #000;
  color: #fff;
}

.child1 p span{
  font-size:16px;
  color:#fff;
}

.child2{
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.inside-contact{
  width:90%;
  margin:0 auto;
}

.inside-contact h2{
  text-transform:uppercase;
  text-align:center;
  margin-top:50px;
}

.inside-contact h3{
  text-align:center;
  font-size:16px;
  color:#0085e2;
}

.inside-contact input, .inside-contact textarea{
  width:100%;
  background-color:#eee;
  border:1px solid rgba(0,0,0,0.48);
  padding:5px 10px;
  margin-bottom:20px;
}

.inside-contact input[type=submit]{
  background-color:#000;
  color:#fff;
  transition:0.2s;
  border:2px solid #000;
  margin:30px 0;
}

.inside-contact input[type=submit]:hover{
  background-color:#fff;
  color:#000;
  transition:0.2s;
}

@media screen and (max-width:991px){
  .contact-parent{
      display:block;
      width:100%;
  }

  .child1{
      display:none;
  }

  .child2{
      background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
      background-size:cover;
  }

  .inside-contact input, .inside-contact textarea{
      background-color:#fff;
  }
}

.job {
  /* width: 253px; */
  /* height: 240px; */
  margin-top: 0px;
  margin-bottom:15px;
  border: 1px solid #ADABAB;
}

.job a {
  color: #ff0000;
}
.job .img-fluid {
  width: 60px;
  height:60px;
  margin-left: 23px;
  margin-top: 30px;
}
.job .jobhead {
  font-size: 16px;
  padding-left:20px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 10px;
}
.job .jobsubhead {
  height: 54px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}
.my-class {
  padding-left:20px;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 15px;
}

.job .openingcount{
  font-size: 85px;
  padding-left:15px;
}

.job .role {
  font-size: 16px;
  padding-left:15px;
  font-weight: 600;
  margin-bottom: 0px;
}
.job .jobskills{
  font-size: 14px;
  font-weight: 400;
  padding-left:15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.outer {
  margin-left: 50%;
  margin-right: 50%;
}

.button {
  border: 1px solid #ff0000;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  display: block;
  background: linear-gradient(to right, red 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.button:hover {
  background-position: left bottom;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 30px; 
  color: black;
  transition: all .6s ease-out;
  display: block;
}

.text:hover {
  color: white;  
}

.dropdown-menu .nav-list a {
  color: #000;
}
.nav-text {
  font-size: 14px;
  text-transform: uppercase;
  font-family: Segoe UI;
  font-weight: 400;
}


.nav-list a {
  display: block;
  color: white !important;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
  font-family: "Segoe UI" !important;
  font-weight: 600;
  font-size: 16px;
}
.col-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clients .col-xs-6 .col-sm-6 {
  position: relative;
  width: 50% ;
  padding-left: 10px;
  padding-right: 10px;
}
#submit-green {
  color: #FFFFFF;
  background-color: #ff0000;
  font-size: 16px;
  height: 40px;
  width: auto;
  font-family: "Segoe UI" !important;
  font-weight: 400;
  border-radius: 50px;
}

.my-classes {
  padding-left: 0px;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 0px;
}

.contact-sent-btn {
  font-size: 16px !important;
  width: 100px;
  height: 40px;
  background-color: red !important;
  color: white;
  text-align: center !important;
}


.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
  
.live > li {
  list-style: none;
  position: relative;
  padding: 0 0 0 2em;
  margin: 0 0 0.5em 0px;
  transition: 0.12s;
}
.live > li::before {
  position: absolute;
  content: '\2022';
  font-family: "Segoe UI" !important;
  color: #ff0000;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 2em;
  opacity: 1;
  line-height: 0.75;
  transition: 0.5s;
} 
.bannerheadline {
  font-size: 38px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.bannersubline {
  font-size: 30px;
  color:#fff;  
}
/* ul.a {
  list-style-type: circle;
} */
.aboutus ul {
  list-style: none;
  text-align-last: left;
  font-size:14px;
  font-weight: 400;
}

.aboutus ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  
}
p{
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
    margin-bottom: 10px !important;
}
.borderRadius{
  border-radius: 50%
}
.palcTeam{ 
    padding-top: 10px;   
    margin-bottom: 10px;
}
.foundersimg{
  height: 202px;
    border-radius: 50%;
    width: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
li{
  font-size: 14px;
  font-weight: 400;
}
.fontsizeWeight{
  font-size: 14px !important;
  font-weight: 400 !important;
}
.headerdropdown{
  font-size: 16px !important;
  font-weight: 400 !important;  
}
@media only screen and (max-width: 600px) {
  .bannerheadline{
    font-size: 22px;
    color: #fff;  
  text-align: center;
  }
  .bannersubline {
    font-size: 22px;
    color:#fff;  
    text-align: center;
  }
  .clip-text_one {
    font-family: 'Open Sans' !important;
    text-transform: none;
    font-size: 22px;
}
.effect-lily .img-fluid{
  width: 100%;
}
/* .caroselimage{
  display: none !important;
} */
.testimonial4_slide .img-responsive{
  height:110px !important;
  width:110px !important;
  margin-bottom:30px;
}
.palcCioImg img{
  height:250px !important;
  width:200px !important;
  margin-bottom:30px;
}
.caroselimage{
  margin-top:40px !important;
}
.navbar .dropdown-menu.dropme{
  position: static !important;
}
.navbar-collapse .marginauto{
  border-top:2px solid white
}
.homecaroseltext{
margin-top: 40px;
}
.aboutussubtitle{
  font-size: 20px !important;
}
.img-fluid.pagebanner{
  height: 200px;
}
.videoOpacity{
  background: black;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.cards_item{
  padding:0px !important
}
.productBannerText{
  font-size:16px !important
}
figure.effect-lily p{
  font-size: 14px !important;
}
.casestudyMargin img{
  width: 70%;
}
.pageSubHeading{
  margin-top: 20px;
  margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 1.284em;
    font-weight: 700;
    font-family: Raleway,sans-serif;
    color: #202020;
}

.openNetworkingVideo{
  width: 100%;
  height: 200px;
}
}
@media only screen and (min-width: 600px) {
.bannerheadline {
  font-size: 38px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.bannersubline {
  font-size: 30px;
  color:#fff; 
  text-align: center; 
}
.clip-text_one {
  font-family: 'Open Sans' !important;
  text-transform: none;
  font-size: 44px;
}
.homecaroseltext{
  margin-top:70px;
}
/* .img-fluid.pagebanner{
  height: 400px;
} */
.videoOpacity{
  background: black;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.pageSubHeading{
  margin-top: 20px;
  margin-bottom: 30px;
    text-align: center;
    font-size: 34px;
    line-height: 1.284em;
    font-weight: 700;
    font-family: Raleway,sans-serif;
    color: #202020;
}

}
.pagebanner{
  margin-top: 48px;
}
.navbar-nav>.active{
  border-bottom: 3px solid red;
}
.dropdown-menu {
  border-top: 2px solid white !important;
    border-bottom: 2px solid white !important;
    background-color: #404040 !important;
}
.palclogo{
  width:120px;
  height: 32px;
  padding-left:31px;
  margin-top: -12px;
}
.marginauto{
  margin-left: auto !important;
}
.navbarfixed{
  padding: 0px !important;
    position: fixed !important;
    width: 100%;
    z-index: 1;
    background-color:#404040;
    height: 48px;
}
.redcolor{
  color:#ff0000;
  font-weight: 600;
}
.video-container{
  position: relative;
  height: 600px;
  overflow: hidden;
}
.caroselimage{
  margin-top: 80px;
}

.navbar .dropdown-menu a{
  padding:5px !important;
}
.aboutusimg{
  height:250px;
  width: 100%;
}
.aboutusCertificateInfo{
  font-size: 26px;
    font-weight: 400;
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
}
.aboutuspadding{
  margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e3e3e3;
}
.aboutussubtitle{
  font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.careermail{
  text-align: center;
  color: #000;
  font-size: 24px;
  font-weight:400;
  padding-top: 15px;
  padding-bottom: 15px;
}
.bannerImgPosition{
  position: relative;
}
.banner-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.displayflex{
  display: flex;
}
.careersBackArrow{
  width: 22px;
  height: 22px;
  margin-right: 30px;
}
.product-banner-text{
  position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.bannerOpacity{
  background: black;
    opacity: 0.3;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.productTabHeading{
    font-size: 28px;
    text-align: center;
    font-weight: 400;
}
.productTabHeadingMargin{
  margin-top:20px;
}
.newsPadding{
  border-bottom: 2px solid #e3e3e3;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
@media (max-width:900px) and (min-width:400px) {
  .caroselimage{
    margin-top: 50px;
  }
  .clip-text_one{
    font-size: 28px !important;
  }
  .carousel-caption{
    font-size: 20px !important;
  }
  .bannersubline{
    text-align: center !important;
  }
  .navbar .dropdown-menu.dropme {
    position: static !important;
}
.navbar-collapse .marginauto {
  border-top: 2px solid white !important;
}
}​
.testingcss{
display: block;
}

@media only screen and (min-width: 900px) {
  .tabSelectBlock{
    display: block;
  }
  .tabSelectNone{
    display: none;
  }
  .rotateright::after {
    transform: rotate(-90deg);
  }  
  .openNetworkthead >th{
    font-size: 22px;
  }  
  .casestudyMargin img {
    width: 80%;
}
}
@media only screen and (max-width: 1024px) {
  .tabSelectNone{
    display: block;
  }
  .tabSelectBlock{
    display: none
  }
  figure.effect-lily p{
    font-size: 13px !important ;
  }
  .rotateright::after {
    transform: rotate(0deg);
  }
  .productTabHeading{
    font-size: 24px;
  }
  .deploymentHeading{
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .openNetworkthead >th{
    font-size: 16px;
  }
  figure.effect-lily h2{
    font-size: 22px !important;
  }
  figure.effect-lily figcaption>div{
    height: 90% !important; 
  }
}
.team-image img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: 200px;
}
.team-member,
.team-image {
  position: relative;
  overflow: hidden;
}
.team-image:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-image:hover .overlays {
  opacity: 1;
}
.overlays {
  background-color: rgba(238, 77, 77, 0.7);
  position: absolute;
  top: 0;
  width: 200px;
  height: 93%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 50%;
    width: 200px;
    display: block;
  margin-left: 75px;
  margin-right: 50%;
  margin-top: 15px;
}
.team-detail {
  opacity: 0;
  position: absolute;
  top: 75%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-detail p {
  color: #fff;
}

.team-img:hover .team-detail {
  opacity: 1;
  margin-top: -80px;
}
.team-detail .socials i {
  color: #fff;
}
.product-img:hover .team-detail {
  opacity: 1;
  margin-top: -80px;
}
.team-image:hover .team-detail {
  opacity: 1;
  margin-top: -80px;

}

@media screen and (max-width: 1024px){
  .overlays {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
 .ourteam .overlay p {
     visibility: hidden;
     clear: both;
     float: left;
     margin: 10px auto 5px 20px;
     width: 28%;
     display: none;
   }
   .team-img:hover .team-details {
    opacity: 1;
    margin-top: 0px;
 } 
 table.table thead th {
  font-size: 18px;
}
video{    
  height: 600px;
}
}
  .testimonial4_slide .img-responsive{
    height:110px !important;
    width:110px !important;
    margin-bottom:20px !important;
  }
  .palcCioCertificate{
    height: 250px;
    width: 200px;
  }
.newscioimages{
  text-align: center;
}
.navbar-collapse.collapse.show {
  overflow-y: auto; 
  max-height: 280px; 
}
.navServiceText{
  font-size: 16px !important;
    font-weight: 400 !important;
    display: block;
    color: white !important;
    background-color: #404040;
    font-family: "Segoe UI" !important;
    padding:0px !important;
}
.navbar .dropdown-menu a{
  font-size: 16px !important;
  font-weight: 400 !important;
}
.dropdown-item{
  padding:0px !important
}
.openNetworkimg .logopadding{
  width: 100%;
    height: 150px;
    margin-bottom:15px;
}

.openNetworkingimg-card{
  height: 200px;
  position: relative;
    overflow: hidden;
}
.openNetworkimg-card-title{
    text-align: center;
    color: #ff0000;
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 10px;
    position: absolute;
    border: 10px;
    width: 100%;
    bottom: 0px;
}
.openCaseStudy{
    font-size: 16px;
    height: 40px;
    font-family: "Segoe UI" !important;
    font-weight: 400;
    border-radius: 50px;
    background-color: white;
    color: red;
    width: 170px;
    border:1px solid white
}
/* .networkSwitch{
  background: #EE4D4D 0% 0% no-repeat padding-box;
border: 1px solid #EE4D4D;
border-radius: 10px;
height: 160px;
opacity: 0.7;
  position: relative; 
  margin-bottom: 10px; 
} */
.networkSwitch{
border-radius: 10px;
height: 160px;
  position: relative; 
  margin-bottom: 10px; 
  cursor: pointer;
  background-color: #012b39 !important;
}
.switchText{
  padding: 10px; 
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
}
.casestudyMargin{
margin-bottom: 10px;
}
.openNetworkthead{
  text-align: center;
  color: #E2B842;
 
}
table.table td{
  font-size: 14px;
  font-weight: 400;
  color:#FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.arrowmargin{
  margin-top: 50px;
}
.effect-lily{
  margin-bottom: 15px;
}
.bannerMargin{
  margin-top:48px;
}
@media screen and (min-width: 1024px){
  .ecommerimgheight{
    height:300px ;
  }
  .deploymentHeading{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .openNetworkingVideo{
    width: 100%;
    height: 410px;
  }
  .casestudyMargin img {
    width: 100%;
  }
  table.table thead th{
    font-size: 20px;
  }
  video{    
   width: 100%;
 }
}
@media (max-width:1024px) and (min-width:600px) {
.openNetworkingVideo{
  width: 100%;
  height: 350px;
}
}
@media (max-width:768px) and (min-width:600px) {
.casestudyMargin img {
  width: 50%;
}
}



@media (max-width:1024px) and (min-width:768px) {
  .ecommerimgheight{
    height:250px ;
  } 
  .openNetworkingVideo{
    width: 100%;
    height: 410px;
  }
  .casestudyMargin img {
    width: 70%;
  }
}
.testingfont{
  font-size: 20px;
}
.palcoffermargin{
  margin-top: 10px;
}
table.table td, table.table th {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.headerpadding{
  padding-bottom: 15px;
}
.opennetworking-padd-mar{
  margin-bottom: 15px;
  border-bottom: 2px solid #e3e3e3;
  padding-bottom: 15px;
}
.positionRelative{
  position: relative;
}
.tableiconcolor{
  color:rgb(34, 236, 34) !important;
}

/* .productpadding{
  padding:30px 0px;
  height: 100% !important;
} */

.repadding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.repaddingtop{
  padding-top: 15px;
}
.popupsubheadline{
  font-weight: 500;
}
.modal-title{  
    font-size: 24px;
    font-weight: 600;
    font-family: Raleway,sans-serif;
}
.contactustext{
  font-size: 20px;
  color: #ff0000;
  cursor: pointer;
}
.cursorpointer{
  cursor: pointer;
}
.popuppara {
  font-size: 16px;
  margin-bottom: 0px !important;
}